@charset "utf-8";

*{margin: 0;padding: 0;box-sizing: border-box;}
ul {list-style: none;}
a {text-decoration: none;color: inherit;}
body {font-size: 14px;line-height: 1.5; background-color: #fff;color: #333;}
.wrap {width: 1200px;margin: 0 auto;}

.header {
    display: flex;
    height: 100px;
    align-items: center;
    justify-content: space-between;
}

.gnb {
    display: flex;
    z-index: 1;
}

.gnb > li {
    position: relative;
}

.gnb > li > a {
    display: block;
    height: 100px;
    padding: 0 60px;
    align-items: center;
    line-height: 100px;
}
.gnb > li:hover > a {
    color: tomato;
}

.gnb ul {
    position: absolute;
    top: 100px;
    left: 0;
    width: 100%;
    display: none;
}

.gnb ul li {
    background-color: #ddd;
}

.gnb ul li a {
    display: block;
    text-align: center;
    padding: 16px 0;
}
.gnb ul li:hover a {
    background-color: #fff;
    color: tomato;
}

.slider {
    height: 300px;
}

.slide {
    position: relative;
    height: 300px;
}

.slide div {
    position: absolute;
    top: 0;
    left: 0;
    display: none;
}

.slide img {
    width: 100%;
    display: block;
}

.contents {
    height: 200px;
    display: flex;
    padding: 10px 0;
    gap: 12px;
}

.tab{
    flex: 1;
}

.tab_title {
    display: flex;
    gap: 3px;
    position: relative;
}

.tab_title::after {
    content: '';
    position: absolute;
    bottom: 0;
    height: 3px;
    background-color: tomato;
    width: 100%;
}

.tab_title h2 {
    width: 100%;
    height: 50px;
    line-height: 50px;
    font-size: 16px;
    text-align: center;
    font-weight: normal;
    background-color: #ddd;
    cursor: pointer;
}
.tab_title h2.on {
    background-color: tomato;
    color: #fff;
}

.tab_contents {
    height: 130px;
    position: relative;
}
.tab_contents ul {
    position: absolute;
    top: 0;
    left: 0;
}

.notice {
    width: 392px;
}
.notice li a {
    white-space: nowrap;
    display: block;
    overflow: hidden;
    text-overflow: ellipsis; 
    padding: 5px 0;
    
}
.notice li a:hover {
    text-decoration: underline;
}

ul.gallery {
    gap: 10px;
    height: 130px;
    display: none;
}

ul.gallery li {
    height: 100%;
    float: left;
    width: 32%;
    margin-right: 2%;
}
ul.gallery li:last-child {
    margin: 0;
}

.gallery li img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.banner {flex: 1;}
.banner img {
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
}

.link { flex: 1;}

.link ul {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 10px;
}

.link li a {
    background-color: #ddd;
    border-radius: 10px;
    width: 100%;
    height: 85px;
    display: block;
    line-height: 85px;
    text-align: center;
}

.link li:hover a {
    background-color: tomato;
    color: #fff;
}

.footer {
    display: flex;
    align-items: center;
    padding: 0 20px;
    justify-content: space-between;
    background-color: #eee;
    height: 100px;
}

.f_logo img {
    line-height: 100px;
    display: block;
}

.copyright {
    font-size: 12px;
}

.sns {
    display: flex;
    gap: 20px;
}

.sns a {
    padding: 5px 10px;
    background-color: #fff;
    border-radius: 20px;
    display: block;
}
.sns a:hover {
    color: tomato;
}

#modal {
    height: 420px;
    width: 500px;
    border: 1px solid #333;
    background-color: #fff;
    padding: 50px 60px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    display: none;
}

#modal.active {
    display: block;
}

#modal p {
    padding: 20px 0;
}

#modal .close {
    background-color: #ddd;
    display: block;
    width: 70px;
    height: 36px;
    line-height: 36px;
    text-align: center;
    position: absolute;
    bottom: 70px;
    right: 60px;
}







